* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', 'cursive';
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
}


/* body */

body {
    background-color: rgb(233, 233, 233);
}

.six {
    background-color: white;
    margin-top: 20px;
    height: 20%;
    display: flex;
    flex-direction: column;
}


/* header */

body>header {
    background-color: white;
    margin: 10px 0;
    text-align: left;
}

header span {
    margin-left: 8px;
}

.fa-bitcoin {
    font-size: 30px;
    margin: 0 15px;
}

header h1 {
    margin-top: 20px;
    padding-top: 20px;
}

header p {
    padding: 0 20px;
}


/* FIAT buttons */

#marketcap-fiat {
    background-color: rgb(233, 233, 233);
}

.marketcap,
.btn {
    margin-bottom: 20px;
    background-color: white;
    padding-bottom: 15px
}

.six header {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 2%;
}

.fas {
    font-size: 30px;
    margin: 8px 0;
}

.fiat {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2%;
}

.button-primary {
    margin: 8px 10pX;
}

.button-primary:hover {}


/* News */

#news header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.news-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#news a {
    text-decoration: none;
    margin: 8px 18px;
}

#news a p {
    text-align: start;
    background-color: black;
    color: white;
    padding: 2%;
    line-height: 40px;
}

#news a p:hover {
    text-decoration: rgb(200, 221, 200) underline;
}


/* Price Chart */

#coins-price-percentage .container {
    width: 100%;
}

#header-timer {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#timer {
    color: white;
    background-color: black;
}

.u-full-width {
    margin: 5%;
}

th,
td {
    font-size: 12px;
    padding: 12px 0;
}

.green {
    color: rgb(93, 151, 35);
}

.red {
    color: crimson
}


/* Compare Widget */

#widget-charts {
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#widget-charts header {
    margin-bottom: 2%;
}

.coingecko-coin-compare-chart-widget {
    width: 100%;
}


/* all buttons */