* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', 'cursive';
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
}

html,
body {
    margin: 0;
}


/* body */

body {
    background-color: rgb(233, 233, 233);
}

.six {
    margin-top: 20px;
    height: 20%;
    display: flex;
    flex-direction: column;
}

header {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

#Crypto-Lane,
.coin-scope,
.btn,
#coins-price-percentage,
#news,
#widget-charts,
#marquee {
    margin-bottom: 20px;
    background-color: white;
    padding-bottom: 15px;
    border: 4px dashed rgb(26, 25, 25);
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}


/* header */

header span {
    margin-left: 8px;
}

.fa-bitcoin {
    font-size: 30px;
    margin: 0 15px;
}

header h1 {
    margin-top: 20px;
    padding-top: 20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

header p {
    padding: 0 20px;
}

#Crypto-Lane {
    margin-top: 2%;
}


/* Coin Ticker */

.eleven {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}


/* FIAT buttons */

#marketcap-fiat {
    background-color: rgb(233, 233, 233, 0);
}

.six header {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 2%;
}

.fas {
    font-size: 30px;
    margin: 8px 0;
}

.fiat {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-left: 2%;
}

.button-primary {
    margin: 8px 10pX;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}

.button-primary:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.button-primary:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}


/* News */

#news {
    padding: 3%;
}

#news header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.news-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#news a {
    text-decoration: none;
    margin: 8px 18px;
}

#newsTitle {
    text-align: start;
    background-color: black;
    color: white;
    padding: 20px;
    line-height: 40px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}

#news a p:hover {
    text-decoration: rgb(200, 221, 200) underline;
}


/* Price Chart */

#coins-price-percentage {
    padding-left: 3%;
    padding-right: 3%;
}

#header-timer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#timer {
    color: white;
    background-color: black;
    padding: 2px 6px;
    margin-left: 15px;
    text-shadow: none;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    border: 1.5px solid gray;
}

.sec {
    font-size: 8px;
}

.u-full-width {
    margin: 5%;
}

th,
td {
    font-size: 12px;
    padding: 12px 0;
}

.green {
    color: rgb(93, 151, 35);
}

.red {
    color: crimson
}

.price,
th:nth-child(3) {
    width: 110px;
    text-align: right;
    padding-left: 1%;
    padding-right: 1%;
}

td:last-of-type,
th:last-of-type {
    text-align: right;
    padding-right: 35px;
}

.coin,
th:nth-child(2) {
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.coin a:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}

.coin a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding: 5px 8px;
}


/* Coin-Widget */

#coin-widget {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}


/* Compare Widget */

#widget-charts {
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

#widget-charts header {
    margin-bottom: 2%;
}


/* Effect */

canvas {
    display: flex;
    top: 0;
    z-index: -1;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

html,
body {
    margin: 0;
}